    {{ form_open({ request: 'onUpdate', model: mixtape, enctype: 'multipart/form-data',  'accept-charset': 'UTF8'}) }}

    <input type="hidden" name="_handler" value="onUpdate">

    {{ form_token() }}
    {{ form_sessionKey() }}

    <div class="form-group">
        <label for="name">Mixtape Name</label>
        <input name="name" class="form-control" id="name" required="" aria-invalid="false" value="{{ form_value('name') }}" type="text">
        {{ errors.first('name') }}
    </div>

    <div class="form-group">
        <label for="description">Description</label>
    </label><textarea id="description" name="description" class="form-control" rows="4" cols="50" required="" aria-invalid="false" >{{ form_value('description') }}</textarea>
    <div class="help-block"></div>
    {{ errors.first('description') }}

    </div>

    {% set checkbox_tags = form_value('tags').lists('id') ? form_value('tags').lists('id') : (form_value('tags'))  %}
    

    <div class="form-group">
            <p><b>Tags</b></p>
            {% for tag in tags %}
            {% set checked = (tag.id) in checkbox_tags ? 'checked' : '' %}

            <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags[]" id="inlineRadio1" value="{{tag.id}}" {{checked}}>
                    <label class="form-check-label" for="inlineRadio{{tag.tag}}">{{tag.tag}}</label>
            </div>                          
            {% endfor %}  
            {{ errors.first('tags') }}
    </div>
    

    <div class="form-group">
        <label class="btn btn-secondary btn-file">
            Compiled Sketch Zip File.. <input name="hex_file" type="file" style="">
        </label>
        {{ errors.first('hex_file') }}{{ errors.first('valid_zip_file') }}
    </div>

    <hr/>

    <button type="submit" class="btn btn-primary btn-sq btn-lg btn-block btn-glossy btn-purple-x11">Update</button>



    {% flash success %}
        <p>{{ message }}</p>
    {% endflash %}


</form>