    {{ form_open({ request: 'onUpdate', model: mixtape, enctype: 'multipart/form-data',  'accept-charset': 'UTF8'}) }}

    <input type="hidden" name="_handler" value="onUpdate">

    {{ form_token() }}
    {{ form_sessionKey() }}

    <!-- mixtape name -->
    <div class="form-group">
        <label for="name">Mixtape Name*</label>
        <input name="name" class="form-control" maxlength="45" id="name" required="" aria-invalid="false" value="{{ form_value('name') }}" type="text">
        {{ errors.first('name') }}
    </div>
    <!-- ~mixtape name -->

    <!-- short desc -->
    <div class="form-group">
        <label for="short_description">Short Description* (85 character max)</label>
        <textarea id="short_description" name="short_description" maxlength="85" class="form-control" rows="2" cols="50" required="" aria-invalid="false" >{{ form_value('short_description') }}</textarea>
        <div class="help-block"></div>
        {{ errors.first('short_description') }}
    </div>
    <!-- ~ short desc -->

    <!-- tags -->
    {% set checkbox_tags = form_value('tags').lists('id') ? form_value('tags').lists('id') : (form_value('tags'))  %}
    <div class="form-group">
            <p>Tags*</p>
            {% for tag in tags %}
            {% set checked = (tag.id) in checkbox_tags ? 'checked' : '' %}
            <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="tags[]" id="inlineRadio1" value="{{tag.id}}" {{checked}}>
                    <label class="form-check-label" for="inlineRadio{{tag.tag}}">{{tag.tag}}</label>
            </div>                          
            {% endfor %}  
            {{ errors.first('tags') }}
    </div>
    <!-- ~tags -->

    <!-- desc -->
    <div class="form-group">
        <label for="description">Full Description / How To (optional)</label>
        <textarea id="description" name="description" class="form-control" rows="4" cols="50" aria-invalid="false" >{{ form_value('description') }}</textarea>
        <div class="help-block"></div>
        {{ errors.first('description') }}
    </div>
    <!-- ~desc -->


    
    <!-- sound cloud -->
    <div class="form-group">
        <label for="url_soundcloud">Soundcloud Url (optional)</label>
        <input name="url_soundcloud"  maxlength="300" class="form-control-file" id="url_soundcloud" aria-invalid="false" value="{{ form_value('url_soundcloud') }}" type="text">
        {{ errors.first('name') }}
    </div>    
    <!-- ~soundcloud -->
    
    <!-- youtube -->
    <div class="form-group">
        <label for="url_youtube">Youtube Url (optional)</label>
        <input name="url_youtube"  maxlength="300" class="form-control" id="url_youtube" aria-invalid="false" value="{{ form_value('url_youtube') }}" type="text">
        {{ errors.first('name') }}
    </div>        
    <!-- ~youtube -->

    <!-- zip -->
    <div class="form-group">
        <label class="btn btn-secondary btn-file">
            Compiled Sketch Zip File.. <input name="hex_file" type="file" style="">
        </label>
        {{ errors.first('hex_file') }}{{ errors.first('valid_zip_file') }}
    </div>
    <!-- ~zip -->
    
    <hr/>

    <button type="submit" class="btn btn-primary btn-sq btn-lg btn-block btn-glossy btn-purple-x11">Update</button>



    {% flash success %}
        <p>{{ message }}</p>
    {% endflash %}


</form>