
   {%  set mixtapes = __SELF__.mixtapes %}

   {% for record in mixtapes %}
    {# Use spaceless tag to remove spaces inside the A tag. #}
    {% spaceless %}
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 card grid-item">
        <div class="panel bgc-columbia-blue panel-shadow">                    
            <div class="panel-heading bgc-raspberry-pink">
                <h4 class="mg-clear tc-white">#{{ record.id }} <b>{{ record.name }}</b></h4>
            </div>
            
            <div class="panel-body">
             {{ html_limit(record.description, 150)|raw }} - {{ (record.user.name)|raw }}                      	
            </div>
            
            <div class="panel-footer">
            
            
            <a class="btn btn-sq btn btn-flat panel-shadow btn-neon-carrot" onclick=""  href="{{ 'mixtape-edit'|page }}?id={{ record.id }}" value="{{ record.id }}" programname="{{ record.name }}"><span class="fa fa-bolt icon-spacer" ></span>EDIT</a>
            
            <a class="btn btn-sq btn btn-flat panel-shadow btn-neon-carrot" onclick="window.downloadHex(this);this.preventDefault();"  href="#" value="{{ record.id }}" programname="{{ record.name }}"><span class="fa fa-bolt icon-spacer" ></span>INSTALL</a>

            <a class="btn btn-sq btn btn-flat panel-shadow btn-neon-carrot" onclick="window.deleteMixtape(this, event)"  href="#" value="{{ record.id }}" programname="{{ record.name }}"><span class="fa fa-bolt icon-spacer" ></span>DELETE</a>

            </div>
            
        </div>
    </div>
    {% endspaceless %}
{% else %}
{{ noRecordsMessage }}
{% endfor %}


<script>

window.deleteMixtape = function(dom, event){
   // event.preventDefault();
   var hex_id = (dom.getAttribute('value')); 

    $.request('onDelete', {
        data: {id: hex_id},
        confirm: "Confirm delete?",
    })
}

</script>