[viewBag]
==
<!-- Footer - bloc-8 -->
<div class="bloc bgc-black d-bloc " id="bloc-8">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-3">
				<img src="img/lazyload-ph.png" data-src="{{ 'assets/images/attiny.png'|theme }}" class="img-responsive center-block mg-md lazyload" />
			</div>
			<div class="col-sm-3">
				<img src="img/lazyload-ph.png" data-src="{{ 'assets/images/oshw.png'|theme }}" class="img-responsive center-block mg-md lazyload" />
				
			</div>
			<div class="col-sm-3">
				<img src="img/lazyload-ph.png" data-src="{{ 'assets/images/coconut.png'|theme }}" class="img-responsive center-block mg-md lazyload" />
			</div>
			<div class="col-sm-3">
				<img src="img/lazyload-ph.png" data-src="{{ 'assets/images/attinyriot.png'|theme }}" class="img-responsive center-block mg-md lazyload" />
			</div>
		</div>
	</div>
</div>
<!-- Footer - bloc-8 END -->