
  <!-- neo footer -->
  <div class="bg-dark text-white">
        <div class="container">
          <div class="row">
            <div class="p-4 col-md-3">
              <h2 class="mb-4 text-md-left text-center text-secondary fontforward">COCONUT</h2>
              <p class="text-white  text-md-left text-center">Center For Alternative Coconut Research 2018</p>
            </div>
            <div class="p-4 col-md-3">
              <h2 class="mb-4 text-secondary fontforward footer-header">Mapsite</h2>
              <ul class="list-unstyled">
                <a href="#" class="text-white">Home</a>
                <br>
                <a href="#" class="text-white">Mixtape</a>
                <br>
                <a href="#" class="text-white">Docs</a>
                <br>
                <a href="#" class="text-white">Community</a>
                <br>
                <a href="#" class="text-white">Buy</a>
                <br>
                <a href="#" class="text-white">Register Account</a>
              </ul>
            </div>
            <div class="p-4 col-md-3">
              <h2 class="mb-4 fontforward footer-header text-secondary">Contact</h2>
              <p>
                <a href="mailto:shop@8bitmixtape.cc" class="text-white"><i class="fa d-inline mr-3 text-secondary fa-envelope-o"></i>shop@8bitmixtape.cc</a>
              </p>
            </div>
            <div class="p-4 col-md-3">
              <h2 class="mb-4 fontforward footer-header text-secondary">Subscribe</h2>
              <form>
                <fieldset class="form-group text-white"> <label for="exampleInputEmail1">Get our newsletter</label>
                  <input type="email" class="form-control" placeholder="Enter email"> </fieldset>
                <button type="submit" class="btn btn-outline-secondary">Submit</button>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mt-3">
              <p class="text-center text-white">website design and development by http://manticore.id</p>
            </div>
          </div>
        </div>
      </div>
  <!-- neo footer -->