[viewBag]
==
<!-- bloc-0 -->
<div class="sticky-nav bloc bloc-mixtape-panel">
		<div class="bloc bgc-purple-x11  bloc-bg-texture texture-diagonal-lines d-bloc" id="bloc-0">
				<div class="container">
					<nav class="navbar row">
						<div class="navbar-header">
							<a class="navbar-brand ltc-tangerine-yellow" href="{{ 'home'|page }}"><img src="{{ 'assets/images/neocompany3.png'|theme }}" alt="logo" width="400" height="34" class="img-responsive" /></a>
							<button id="nav-toggle" type="button" class="ui-navbar-toggle navbar-toggle" data-toggle="collapse" data-target=".navbar-1">
								<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
							</button>
						</div>
						{%partial "navbar" %}
					</nav>
				</div>
			</div>

			{% partial "mixtape-filter" %}
</div>

<!-- bloc-0 END -->