{% for record in mymixtape.mixtapes %}
{# Use spaceless tag to remove spaces inside the A tag. #}
<!-- begin card -->
<div class="col-md-4">
        <div class="card mb-4 box-shadow bg-indigo-100 panel-shadow bg-secondary mixtape-card">
            <div class="card-header p-2 mb-2">
                <h5 class="m-0">{{ html_limit(record.name, 24) }}</h5>
            </div>
            <div class="card-body p-2">
            <div style="height: 5.5em;">
                <p class="card-text">{{ html_limit(record.description, 150)|raw }} <br>
                {% for tag in record.tags %}<span class="badge badge-primary">{{ tag.tag }}</span> {% endfor %}
                </p>
            </div>            
          </div>
          
          <div class="card-body p-2">
                <div class="d-flex align-items-center justify-content-center">
                        <div class="btn-group btn-group-sm  w-100">
                          <a href="{{ 'mixtape-detail'|page }}/{{ record.id }}"  class="btn btn-outline-dark btn-sm  w-100">DETAIL</a>
                          <a href="{{ 'mixtape-edit'|page }}/{{ record.id }}"  class="btn btn-outline-dark btn-sm  w-100">EDIT</a>   
                          <a href="{{ 'mixtape-edit'|page }}/{{ record.id }}"  class="btn btn-outline-dark btn-sm  w-100">DELETE</a>                          
                          {% if record.hex_file.path %}
                          <button class="btn btn-outline-dark btn-sm w-100" onclick="window.downloadHex(this);"  href="#" value="{{ record.hex_file.path }}" programname="{{ record.name }}">INSTALL</button>
                          {% else %}
                          {% if record.wav_file %}
                          <button class="btn btn-outline-dark btn-sm w-100" onclick="window.downloadWav(this);"  href="#" value="{{ record.wav_file.path }}" programname="{{ record.name }}">INSTALL</button>
                          {% endif %}            
                          {% endif %}
                        </div>
                      </div>
              </div>

        </div>
</div>
<!-- end card -->
{% else %}
{{ noRecordsMessage }}
{% endfor %}
