[viewBag]

[menuUserWidget]
paramCode = "code"
forceSecure = 0
accountPage = "account"

[localePicker]
forceUrl = 0
==
<div class="collapse navbar-collapse navbar-1 special-dropdown-nav">
				<ul class="site-navigation nav navbar-nav navigation-font">
					<li>
						<a href="{{ 'home'|page }}" class="ltc-tangerine-yellow fontforward tracked-mega">HOME</a>
					</li>

				    <li>
						<a href="{{ 'mixtape'|page }}" class="ltc-tangerine-yellow fontforward tracked-mega">MIXTAPE</a>
					</li>
                    
                    <!-- dropdown -->
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle ltc-tangerine-yellow fontforward tracked-mega" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">DOCS</a>
                      <ul class="dropdown-menu">
                        <li><a href="http://docs.8bitmixtape.cc" target="_blank">User Manual - English</a></li>
                        <li><a href="http://docs.8bitmixtape.cc/#/id/" target="_blank">User Manual - Indonesia</a></li>                        
                        <li><a href="http://wiki.8bitmixtape.cc" target="_blank">Developer Docs</a></li>
                        <li><a href="https://github.com/8bitmixtape" target="_blank">Github Organization</a></li>

                      </ul>
                    </li>
					<!-- dropdown -->

					<li>
						<a href="https://community.8bitmixtape.cc" target="_blank" class="ltc-tangerine-yellow fontforward tracked-mega">COMMUNITY</a>
					</li>
					
                    <!-- dropdown -->
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle ltc-tangerine-yellow fontforward tracked-mega" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">BUY</a>
                      <ul class="dropdown-menu">
                        {% if (activeLocale == 'id') %}
                        <li><a href="{{ 'catalog'|page }}">Catalog</a></li>
                        <li><a href="{{ 'cart'|page }}">Shopping Cart</a></li>   
                        {% else %}
                        <li><a href="http://wiki.8bitmixtape.cc/#/XXX-Shop" >Catalog</a></li>   
                        {% endif %}
                      </ul>
                    </li>
					<!-- dropdown -->
					
					

                    
    {% if user %}
    <li class="dropdown menu-user-widget">
        <a class="dropdown-toggle menu-user-widget-switch" style="padding: 10px 15px" href="#" data-toggle="dropdown">
            {% if user.avatar %}
            <img class="img-circle" src="{{ user.avatar.getThumb(30, 30, {'mode' : 'crop'}) }}">
            {% else %}
            <img class="img-circle" src="{{ 'assets/images/avatar-blank.png'|theme }}">
            {% endif %}
            &nbsp; {{ user.username }} <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" style="padding:17px;">

            <li><a href="{{ 'upload-mixtape'|page }}"><i class="icon-cog"></i> &nbsp; Upload Mixtape</a></li>                
            <li><a href="{{ 'my-mixtape'|page }}"><i class="icon-cog"></i> &nbsp; My Mixtape</a></li>        
            <li><a href="{{ accountPage|page }}"><i class="icon-cog"></i> &nbsp; Favourites</a></li>                    
            <li><a href="{{ accountPage|page }}"><i class="icon-cog"></i> &nbsp; {{ _('account', 'rainlab.user::lang.account') }}</a></li>
            <li><a href="#" data-request="onLogout" data-request-data="redirect: '{{ redirect }}'"><i class="icon-signout"></i> &nbsp; {{ _('sign_out') }}</a></li>
        </ul>
    </li>
    {% else %}
    <li class="dropdown menu-user-widget-signin">
        <a class="dropdown-toggle menu-user-widget-signin-switch ltc-tangerine-yellow fontforward tracked-mega" href="#" data-toggle="dropdown">SIGN IN &nbsp; <i class="icon-off"></i></a>
        <div class="dropdown-menu" style="padding: 17px">
            <form class="menu-user-widget-sigin-form" data-request="onSignin">
                <div class="form-group menu-user-widget-signin-login">
                    <input name="login" type="text" placeholder="{{ loginAttributeLabel }}">
                </div>
                <div class="form-group menu-user-widget-signin-password">
                    <input name="password" id="password" type="password" placeholder="{{ _('password', 'rainlab.user::lang.account') }}">
                </div>

                <div class="pull-right">
                    <a class="btn btn-default" href="{{ accountPage|page }}" title="{{ _('register', 'rainlab.user::lang.account') }}"><i class="icon-pencil"></i> Register</a> &nbsp;
                </div>

                <button type="submit" class="btn btn-primary btn-purple-x11 menu-user-widget-signin-btn">{{ _('login', 'rainlab.user::lang.account') }}</button>

            </form>
        </div>
    </li>
    {% endif %}



				</ul>
			</div>