[RainLab\User\Components\Account account]
paramCode = "code"
forceSecure = 0

[session]
security = "all"
==
<!doctype html>
<html>
<head>  
	<meta charset="utf-8">
	<meta name="keywords" content="">
	<meta name="description" content="{{ this.page.meta_description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
	
	<link rel="stylesheet" type="text/css" href="{{ 'assets/css/bootstrap.min.css'|theme }}">
	<link rel="stylesheet" type="text/css" href="{{ 'assets/style.css'|theme }}">
	<link rel="stylesheet" type="text/css" href="{{ 'assets/style_adjust.css'|theme }}">
	<link rel="stylesheet" type="text/css" href="{{ 'assets/css/animate.min.css'|theme }}">
	<link rel="stylesheet" type="text/css" href="{{ 'assets/css/font-awesome.min.css'|theme }}">
	
	<link rel="stylesheet" type="text/css" href="{{ 'assets/css/vex.css'|theme }}">
	<link rel="stylesheet" type="text/css" href="{{ 'assets/css/vex-theme-wireframe.css'|theme }}">
	
	<link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	
	
	
	
	<script src="{{ 'assets/javascript/jquery-2.1.0.min.js'|theme }}"></script>
	<script src="{{ 'assets/javascript/bootstrap.min.js'|theme }}"></script>
	<script src="{{ 'assets/javascript/blocs.min.js'|theme }}"></script>
	<script src="{{ 'assets/javascript/lazysizes.min.js'|theme }}" defer></script>

	<script src="{{ 'assets/javascript/masonry.pkgd.min.js'|theme }}"></script>


	<script src="{{ 'assets/javascript/hex2wav.js'|theme }}"></script>
	<script src="{{ 'assets/javascript/vex.combined.min.js'|theme }}"></script>

	<title>{{ this.page.title }}</title>

	
    <!-- Google Analytics -->
     
    <!-- Google Analytics END -->
    
    </head>
    <body>
    <!-- Main container -->
    <div class="page-container">
         {% page %}
    </div>
    <!-- Main container END -->
    
    
    
    <!-- Preloader -->
    <div id="page-loading-blocs-notifaction"></div>
    <!-- Preloader END -->

    {% framework extras %}
    {% scripts %}
    
    <script>vex.defaultOptions.className = 'vex-theme-wireframe';</script>
    <script src="{{ 'assets/javascript/hexwidget.js'|theme }}"></script>

</body>
</html>